Repository Simao-Santos/differ: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, build_ci_image

Path conditions:
  build_backend: any of: be/package.json, be/package-lock.json, be/Dockerfile
  build_frontend: any of: fe/package.json, fe/package-lock.json, fe/Dockerfile
  build_ci_image: any of: ci-image/Dockerfile

Fix dependency vulnerabilities
  be/package-lock.json
  fe/package-lock.json
Due: build_backend, build_frontend

Add crypto js package
  fe/package-lock.json
  fe/package.json
Due: build_frontend

Add css-selector-generator package
  fe/package-lock.json
  fe/package.json
Due: build_frontend

Add serve package
  fe/package-lock.json
  fe/package.json
Due: build_frontend

Change frontend 'start' script to include build and serve
  fe/package.json
Due: build_frontend

Add div expand with iframe to url link
  fe/src/CSS/PrettyChecks.scss
  fe/src/CSS/URLEdition.css
  fe/src/Components/URLLink.js
Due: none

Add fetch of html content for the render
  fe/src/Components/URLLink.js
Due: none

Add iframe interaction code
  fe/src/Components/URLLink.js
Due: none

Refactor event adding and create initial divs
  fe/src/Components/URLLink.js
Due: none

Add error messages to iframe
  fe/src/Components/URLLink.js
Due: none

Fix iframe loading and add frame spinner
  fe/src/CSS/URLEdition.css
  fe/src/Components/URLLink.js
Due: none

Fix npm errors
  fe/src/Components/URLLink.js
Due: none

Fix url building in frontend
  fe/src/Components/CodeComparison.js
  fe/src/Pages/CodeChangesPage.js
  fe/src/Pages/UrlEdition.js
  fe/src/Pages/VisualChangesPage.js
Due: none

Add element selector management section to URLLink
  fe/public/trash-icon.png
  fe/src/CSS/URLEdition.css
  fe/src/Components/URLLink.js
Due: none

Add grey zones in database. Completed endpoints of insert and get gray zones
  be/src/controllers/url-controller.js
  be/src/routes/urls.js
  fe/src/Pages/VisualChangesPage.js
  init.sql
Due: none

Change api call to be less error-prone
  fe/src/Components/URLLink.js
Due: none

Change the error html to a const
  fe/src/Components/URLLink.js
Due: none

Fix error message not showing
  fe/src/Components/URLLink.js
Due: none

Refactor variable names
  fe/src/Pages/CodeChangesPage.js
Due: none

Add files for selectors display
  fe/src/CSS/URLEdition.css
  fe/src/Components/ElementSelector.js
  fe/src/Components/ElementSelectorList.js
  fe/src/Components/URLLink.js
Due: none

Update selector related files with fetch messages
  fe/src/Components/ElementSelector.js
  fe/src/Components/ElementSelectorList.js
  fe/src/Components/URLLink.js
Due: none

Fix page height issue in URLs page
  fe/src/CSS/URLEdition.css
  fe/src/Pages/UrlEdition.js
Due: none

Add fetch message for adding a selector
  fe/src/Components/URLLink.js
Due: none

Update URLs page text
  fe/src/Pages/UrlEdition.js
Due: none

Change backend start server script
  fe/package.json
Due: build_frontend

Update - Finnished implementation of issue
  be/src/app.js
  be/src/controllers/actions-controller.js
  be/src/controllers/comparison-controller.js
  be/src/controllers/grayzone-controller.js
  be/src/controllers/url-controller.js
  be/src/routes/gray_zones.js
  be/src/routes/urls.js
  fe/src/Pages/VisualChangesPage.js
  init.sql
Due: none

Update - Fixed trigger error
  be/src/controllers/grayzone-controller.js
  fe/src/Pages/VisualChangesPage.js
  init.sql
Due: none

Update - Fix lint mistakes and a bug
  be/package.json
  be/src/controllers/actions-controller.js
  be/src/controllers/grayzone-controller.js
  be/src/routes/gray_zones.js
  fe/src/Pages/CodeChangesPage.js
  fe/src/Pages/VisualChangesPage.js
Due: build_backend

Update - Finnished documentation
  be/src/app.js
  be/src/routes/gray_zones.js
Due: none

Fix - Pipeline failed
  be/src/routes/gray_zones.js
Due: none

Update - Removed unnecessary log
  be/src/controllers/actions-controller.js
Due: none

Update - Fixed pipeline issue
  be/src/controllers/actions-controller.js
Due: none

Update with 1 suggestion(s) to 1 file(s)
  be/src/routes/gray_zones.js
Due: none

Update - Fixed spotted mistakes
  be/src/controllers/grayzone-controller.js
  be/src/routes/gray_zones.js
Due: none

Fix - Fixed some mistakes on the endpoints and in the documentation
  be/src/controllers/actions-controller.js
  be/src/controllers/grayzone-controller.js
  be/src/routes/gray_zones.js
Due: none

Fix - Fixed response mistake
  be/src/controllers/grayzone-controller.js
Due: none

Remove license scanning from pipeline
  .gitlab-ci.yml
Due: none

Add override to nodejs-scan-sast job
  .gitlab-ci.yml
Due: none

Update - Fixed error on database and added a few tests
  be/src/controllers/grayzone-controller.js
  be/src/routes/gray_zones.js
  be/tests/routes.test.js
  init.sql
Due: none

Update pageres dependency version
  be/package.json
  be/src/controllers/actions-controller.js
Due: build_backend
