Repository Simao-Santos/differ: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, build_ci_image

build_backend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd be/
  - docker version
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker build -t registry.gitlab.com/feup-tbs/ldso2021/t1g1:backend_$CI_COMMIT_REF_SLUG .
  ...

build_frontend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd fe/
  - docker version
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker build -t registry.gitlab.com/feup-tbs/ldso2021/t1g1:frontend_$CI_COMMIT_REF_SLUG .
  ...

build_ci_image:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd ci-image
  - docker version
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker build -t registry.gitlab.com/feup-tbs/ldso2021/t1g1:ci_image_$CI_COMMIT_REF_SLUG .
  ...

Update README.md
  README.md
Due: none

Fix Backend lint
  be/src/controllers/actions-controller.js
Due: none

Fix very important lint of backend
  be/src/controllers/actions-controller.js
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update - small thing
  be/src/controllers/actions-controller.js
Due: none

Update - trying sentry
  fe/package-lock.json
  fe/package.json
  fe/src/index.js
Due: build_frontend

Add pointer cursor for selectable elements
  fe/src/Components/URLLink.js
Due: none

Fix lint errors
  fe/src/Components/URLLink.js
Due: none

Add - Error tracking with sentry/gitlab fully operational
  fe/src/Pages/UrlEdition.js
Due: none

Add - Stuff
  be/Dockerfile
  be/package-lock.json
  be/package.json
  be/src/app.js
  fe/src/Pages/UrlEdition.js
  fe/src/index.js
Due: build_backend

Remove sentry test error
  be/src/app.js
  fe/src/Pages/UrlEdition.js
Due: none

Update - We have a DOM
  be/package-lock.json
  be/package.json
  be/src/controllers/actions-controller.js
Due: build_backend

Add Simmer.js and remove css-selector-generator
  be/package-lock.json
  be/package.json
Due: build_backend

Add delimiters-parsing support for code
  be/src/controllers/actions-controller.js
Due: none

Fix lint error
  be/src/controllers/actions-controller.js
Due: none

Add stryker library
  .gitignore
  be/package-lock.json
  be/package.json
  be/stryker.conf.js
Due: build_backend

Update package-lock.json
  be/package-lock.json
Due: build_backend

Update .gitlab-ci.yml so build is forced in master and develop branches
  .gitlab-ci.yml
Due: none

Fix inverted change bug
  be/src/controllers/actions-controller.js
Due: none

Update footer
  fe/src/Components/Footer.js
Due: none

Remove useless text from header
  fe/src/Components/Header.js
Due: none

Fix notification messages
  fe/src/Pages/UrlEdition.js
Due: none

Remove useless buttons from comparison objects
  fe/src/Components/CodeComparison.js
  fe/src/Components/VisualComparison.js
Due: none

Change comparison objects title
  fe/src/Components/CodeComparison.js
  fe/src/Pages/CodeChangesPage.js
  fe/src/Pages/VisualChangesPage.js
Due: none

Fix grammar in frontpage
  fe/src/Pages/UrlEdition.js
Due: none

Fix lint errors
  fe/src/Components/CodeComparison.js
Due: none

Add link to backend API docs in README.md
  README.md
Due: none

Fix code comparison order
  be/src/controllers/actions-controller.js
Due: none

Remove extra space and unneeded functions
  fe/src/Pages/UrlEdition.js
Due: none

Path conditions:
  build_backend: any of: be/package.json, be/package-lock.json, be/Dockerfile, be/wait-for-pg.sh
  build_frontend: any of: fe/package.json, fe/package-lock.json, fe/Dockerfile
  build_ci_image: any of: ci-image/Dockerfile
